*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#head{
    padding-bottom: 3%;
    background-color: #28282B;
    color: white ;
}
#intro{
    display: inline;
    font-size:70px;
    font-weight: 03;
}
.h1p{
   display: flex;
   justify-content: flex;
   align-items: center; 
   gap: 35%;
   padding: 30px 200px 0px 200px ; 
}
.abhp p{
    font-size: 20px;
}
#p-tag{
font-size: 20px;
}
#bgrnd{
  width: 100%;
  height: 650px;
  background-color: lightgray; 
}
.red-circle{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
   
}
.p-red-circle{
    padding: 50px 0px 0px 200px; 
}
.profile_picture {
    display: flex;
    justify-content: flex;
    align-items:end; 
    padding-top: 10px;
}
.profile_picture #img1 {
    /* border-radius: 80%; */
    height: 300px;
    width: 400px;
}
.read_more_btn{
    padding: 18%;
}
.read_more_btn button{
    padding: 20px 60px;
    color: white;
    border-style: hidden;
    background-color: black;
    font-size: large;
    transition: background-color 0.2s ease;
}
.read_more_btn button:hover {
        color: white;
        background-color: red;

}
.parent-div{ 
  padding-top: 50px;
  width: 100%;
  height: 650px;
  
}
.profile{
    display: inline;
    justify-content: center;
    text-align: center;
    font-size: x-large; 
    padding: 30px 200px 0px 200px ;  
}
.about-img-details{
    display: flex;
    padding-top: 30px;
    justify-self: center;
    gap: 30px;
   /* padding: 0% 12% 0% 0%; */
}
.about-me h2{
    text-align: center;
    padding-bottom: 15px;
}
.contact-me-parent-div{
  display: flex;    
  padding: 100px 00px 0px 200px ; 
  gap: 10%;
  width: 100%;
  height: 650px;
  color: white;
  background-color: #28282B; 
}
.contact-form{
    display: flex;
    padding-left: 15%;
}
.form-submit {
    display: flex;
    flex-direction: column; 
    width: 400px;     
    padding: 10px;        
  }
#msg{
    height: 40%;
    width: 100%;  
    padding: 10px;
    border-radius: 10px;
}
.form-submit input[type="text"] {
    width: 100%;          
    padding: 10px;        
    font-size: 16px;       
    box-sizing: border-box;
    border-radius: 10px;
  }
.form-submit button{
    display: inline;
    justify-content: center;
    align-items:center;
    height: 5%;
    width: 100px;  
}
.p-aboutme{
width: 100%;
height: 1050px;
padding: 30px 200px 0px 200px ; 
}
.p-aboutme img{
    height: 600px;
    width: 60%;
}
.p-aboutme h1{
    font-size: 50px
}
.aboutme-p{
  font-size: 20px;
}
.image-box{
    position: relative;
}
.image-box p {
    font-size: 20px;
}
