body {
  background-color: black;
  color: white;
}
#heading-1 {
  display: flex;
  justify-content: center;
}
#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
#list div {
  text-align: center;
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 8px;
  /* border: white 2px solid; */
  margin: 10px;
}
#search{
    border-radius: 8px;
    margin: 10px;
    height: 25px;
    width: 300px;
}
#input{
    display: flex;
    justify-content: center;
}