<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
       <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="./Dashboard.css">
</head>
<body>
          <aside class="sidebar">
        <a href="./Dashboard.html"><i class="bx bxs-dashboard"></i> Dashboard</a>
        <a href="../index.html"><i class="bx bx-user"></i> Employees</a>
        <a href="./tasks.html"><i class="bx bx-task"></i> Tasks</a>
        <!-- <a href=""><i class="bx bx-cog"></i> Settings</a> -->
        <!--   <a href=""><i class="bx bx-slider-alt"></i> Management</a> -->
      </aside>
</body>
</html>